/*******************/
/** First section **/
/*******************/

#me {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  background-image: url(images/pont.svg);
  background-size: 100%;
  background-color: #97D2D1;
  color: white;
}

#me div.block_me {
  line-height: 1;
  margin: auto;
}

#me h1 {
  padding: 0;
  font-size: 8em;
}

#me p {
  font-size: 4em;
}

#me .highlight {
    background-color: #97D2D1;
}

#chevron-anim
{
  width: 1px;
  margin: auto;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

/*******************/
/** About section **/
/*******************/

#about .border-title{
  border-bottom: solid 10px #F5D2A0;
  padding-bottom: 10px;
}


#about .highlight {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 2px;
  transition: color ease 0.3s;
}

#about .highlight::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #F5D2A0;
    transition: all ease 0.3s;
  }

  #about a.highlight:hover::before {
    height: 10%;
  }


/*******************/
/** Work  section **/
/*******************/

#work img {
  width: 100%;
  padding-bottom: 2%;
}

#work hr {
  background-color: #E0B59D;
  margin: 0;
  padding: 0;
  height: 1%;
  border: none;
}

#work .border-title{
  border-bottom: solid 10px #E0B59D;
  padding-bottom: 10px;
}

#work article:hover {
    background-color: #E0B59D;
}


#personnal_work .border-title {
  /*background-color: #CE877B;*/
  border-bottom: solid 10px #CE877B;
  padding-bottom: 10px;
}

footer {
  background-color: #F6847C;
}

footer .grid-Footer .u-cf {
  display: none !important;
}

/******************/
/** Global rules **/
/******************/

div.center_block {
  max-width: 75vw;
  min-width: 65vw;
  margin: auto;
}

div.border {
  height: 5vh;
}

.clear {
    clear: both;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-size: 4em;
  display: table; 
  line-height: 0.8;
  margin-bottom: 0.5ex;
  margin-top: 1.2em;
}


h3 {
  font-size: 2em;
  padding-bottom: 0.2em;
}

p {
  margin: 0;
  padding: 0.5em 0;
  font-family: lato;
  font-size: 1em;
  line-height: 1.4em;
}

a{
  text-decoration: none;
  color: black;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: lustria;
  background-color: #e8e8e4;
}

article {
    background-color: white;
    float: left;
    width: 48%;
    margin: 1%;
    cursor: pointer;
}

.article-legend {
  height: 12%;
  padding: 2% 5%;
  padding-bottom: 5%;
}

@font-face {
    font-family: metafor;
    src: url(./fonts/metafor.ttf);
}

@font-face {
  font-family: bitter;
  src: url(./fonts/Bitter-Regular.ttf)
}

@font-face {
  font-family: raleway;
  src: url(./fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: lustria;
  src: url(./fonts/Lustria-Regular.ttf);
}

@font-face {
  font-family: lato;
  src: url(./fonts/Lato-Regular.ttf);
}
