/*******************/
/** First section **/
/*******************/

#me {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  background-image: url(images/pont.svg);
  background-size: 100%;
  background-color: #97D2D1;
  color: white;
}

#me div.block_me {
  line-height: 1;
  margin: auto;
}

#me h1 {
  padding: 0;
  font-size: 7.5em;
}

#me p {
  font-size: 4em;
}

#me .highlight {
    background-color: #97D2D1;
}

/*******************/
/** About section **/
/*******************/

#about {
  padding-top: 3%;
}

#about .border-title{
  border-bottom: solid 10px #F5D2A0;
  padding-bottom: 10px;
}


#about .underlign {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 2px;
  transition: color ease 0.3s;
}

#about .underlign::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 0;
    background-color: #F5D2A0;
    transition: all ease 0.3s;
  }

  #about a.underlign:hover::before {
    height: 100%;
  }

  .about-block {
    float: left;
    width: 55%;
  }

  #logo {
    float: left;
    width: 40%;
    margin-left: 1%;
    padding-top: 10%;
  }

  #logo img {
    height: 10%;
  }


/*******************/
/** Work  section **/
/*******************/

#work {
  padding-top: 3%;
}

#work img {
  width: 100%;
  padding-bottom: 2%;
}

#work hr {
  background-color: #E0B59D;
  margin: 0;
  padding: 0;
  height: 1%;
  border: none;
}

#work .border-title{
  border-bottom: solid 10px #E0B59D;
  padding-bottom: 10px;
}

#work article:hover {
    background-color: #E0B59D;
}


#personnal_work .border-title {
  /*background-color: #CE877B;*/
  border-bottom: solid 10px #CE877B;
  padding-bottom: 10px;
}

footer {
  background-color: #5E9391;
}

footer h3 {
    padding: 0.7em 0.9em;
    text-align: center;
    /*margin: 1em auto;*/
    color:  white;
    border: solid;
    display: table;
}

footer .center_block {
  margin: 1em auto;
  padding: 1em;
}

footer article{
  background-color: #5E9391;
}


/******************/
/** Global rules **/
/******************/

div.center_block {
  max-width: 75vw;
  min-width: 65vw;
  margin: auto;
}

div.border {
  height: 5vh;
}

.clear {
    clear: both;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-size: 4em;
  display: table; 
  line-height: 0.8;
  margin-bottom: 0.5ex;
  margin-top: 1.2em;
}


h3 {
  font-size: 2em;
  padding-bottom: 0.2em;
}

p {
  margin: 0;
  padding: 0.5em 0;
  font-family: lato;
  font-size: 1em;
  line-height: 1.4em;
}

a{
  text-decoration: none;
  color: black;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: lustria;
  background-color: #e8e8e4;
}

article {
    background-color: white;
    float: left;
    width: 48%;
    margin: 1%;
    cursor: pointer;
}

.article-legend {
  height: 12%;
  padding: 2% 5%;
  padding-bottom: 5%;
}

@font-face {
  font-family: lustria;
  src: url(./fonts/Lustria-Regular.ttf);
}

@font-face {
  font-family: lato;
  src: url(./fonts/Lato-Regular.ttf);
}
