#desc {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
  overflow: hidden;  
}

#video {
    position:  absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    background-size: 100% 100%;
}

#desc article {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    bottom: 0;
    right: 0;
    width: 48%;
    margin: 2%;
    z-index: 1;
}

#desc #title {
  padding-top: 4%;
  padding-bottom: 2%;
  padding-left: 7%;
}

#desc hr {
  background-color: #E0B59D;
  margin: 0;
  padding: 0.5%;
  border: none;
}

#desc h2 {
  display: inline;
}

#desc ul {
   padding: 0 7%;
   padding-bottom: 2%;
   margin: 0;
}

#desc li.tag {
  display: inline-block;
  padding: 0.2em 0.5em;
  background-color: #E0B59D;
  margin-right: 0.4em;
  color: white;
}

#desc li.link {
  display: inline-block;
  margin-right: 0.4em;
  font-family: lato;
  font-size: 1em;
  line-height: 1.4em;
}


#desc p {
   padding: 0 7%;
   padding-bottom: 2%;
}

/**************************/
/**    Underlign link    **/
/**************************/

.underlign {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 2px;
  transition: color ease 0.3s;
}

.underlign::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 0;
    background-color: #E0B59D;
    transition: all ease 0.3s;
  }

a.underlign:hover::before {
    height: 100%;
  }

/*************************/
/**   Recommendation    **/
/*************************/

#recommendations {
  background-color: white;
  margin: 4% auto;
  width: 48%;
}

#recommendations .quotation{
  padding: 4% 7%;
}

#recommendations .quote {
  font-family: lustria;
  font-size: 8em;
  color: #E0B59D;
  position: absolute;
  margin: -0.2em;
}

#recommendations .autor-quote {
  font-family: lustria;
  text-align: right;
  font-weight: bold;
}

/******************/
/**    Images    **/
/******************/

article {
    float: left;
    width: 48%;
    margin: 1%; 
}

#solo {
  width: 48%;
  margin: auto;
  float: none;
}

#more-images {
    padding-bottom: 4%;
}

#more-images img {
  width: 100%;
}

#more-images hr {
  background-color: #E0B59D;
  margin: 0;
  padding: 0;
  height: 1%;
  border: none;
}


/*******************/
/**     Footer    **/
/*******************/

footer {
  background-color: #5E9391;
}

footer h3 {
    padding: 0.7em 0.9em;
    text-align: center;
    /*margin: 1em auto;*/
    color:  white;
    border: solid;
    display: table;
}

footer .center_block {
  margin: 1em auto;
  padding: 1em;
}

footer article{
  background-color: #5E9391;
}


/******************/
/** Global rules **/
/******************/

div.center_block {
  max-width: 75vw;
  min-width: 65vw;
  margin: auto ;
}

div.border {
  height: 5vh;
}

.clear {
    clear: both;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  display: inline;
  padding-left: 1em;
}

p {
  margin: 0;
  font-family: lato;
  font-size: 1em;
  line-height: 1.4em;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: lustria;
  background-color: #e8e8e4;
}

.article-legend {
  height: 5%;
  padding: 2% 3%;
  background-color: white;
}

@font-face {
  font-family: lustria;
  src: url(./fonts/Lustria-Regular.ttf);
}

@font-face {
  font-family: lato;
  src: url(./fonts/Lato-Regular.ttf);
}
